dags/digital_adoption_tax_statements/xsd/rl3_xmlschm_2025/D4E.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Revenu Quebec (Revenu Quebec) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Diane Roy (mrq) -->
<xsd:schema
  targetNamespace="http://www.mrq.gouv.qc.ca/T5"
  elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.mrq.gouv.qc.ca/T5">
	<xsd:include
    schemaLocation="Complexe.xsd" />
	<xsd:include
    schemaLocation="SimpleEvolutif.xsd" />
	<!-- @@@@ Definition du D4E         @@@@           -->
	<xsd:complexType
    name="D4EStruct">
		<xsd:sequence>
			<xsd:element
        name="Annee"
        type="AnImpositionType">
				
			</xsd:element>
			<xsd:element
        name="NoReleve"
        type="NoReleveType">
				
			</xsd:element>
			<xsd:element
        name="Prestataire">
				
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
              name="NAS"
              type="NasType">
							
						</xsd:element>
						<xsd:element
              name="NomFamille"
              type="Char30Type">
							
						</xsd:element>
						<xsd:element
              name="Prenom"
              type="Char30Type">
							
						</xsd:element>
						<xsd:element
              name="Initiale"
              type="Char1Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="Adresse"
              type="Adresse2Struct"
              minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>