dags/digital_adoption_tax_statements/xsd/rl3_xmlschm_2025/R14.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- édité avec XMLSpy v2020 rel. 2 sp1 (x64) (http://www.altova.com) par Revenu Quebec (Revenu Quebec) -->
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by Revenu Quebec (Revenu Quebec) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Diane Roy (mrq) -->
<xsd:schema
  targetNamespace="http://www.mrq.gouv.qc.ca/T5"
  elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.mrq.gouv.qc.ca/T5">
	<xsd:include
    schemaLocation="Complexe.xsd" />
	<xsd:include
    schemaLocation="SimpleEvolutif.xsd" />
	<!-- @@@@ Definition du R14 @@@@           -->
	<xsd:complexType
    name="R14Struct">
		<xsd:sequence>
			<xsd:element
        name="Annee"
        type="AnImpositionType">
				
			</xsd:element>
			<xsd:element
        name="NoReleve"
        type="NoReleveType">
				
			</xsd:element>
			<xsd:element
        name="Identification">
				
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice>
							<xsd:element
                name="Personne">
								
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element
                      name="NAS"
                      type="NasType">
											
										</xsd:element>
										<xsd:element
                      name="NoReference"
                      type="Char20Type"
                      minOccurs="0">
											
										</xsd:element>
										<xsd:element
                      name="NomFamille"
                      type="Char30Type">
											
										</xsd:element>
										<xsd:element
                      name="Prenom"
                      type="Char30Type">
											
										</xsd:element>
										<xsd:element
                      name="Initiale"
                      type="Char1Type"
                      minOccurs="0">
											
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element
                name="RaisonSociale">
								
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element
                      name="AutreNoId"
                      type="Char10Type"
                      minOccurs="0">
											
										</xsd:element>
										<xsd:element
                      name="NoReference"
                      type="Char20Type"
                      minOccurs="0">
											
										</xsd:element>
										<xsd:element
                      name="Nom1"
                      type="Char30Type">
											
										</xsd:element>
										<xsd:element
                      name="Nom2"
                      type="Char30Type"
                      minOccurs="0">
											
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:choice>
						<xsd:element
              name="Adresse"
              type="Adresse2Struct"
              minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
        name="Montants"
        type="R14MntStruct" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType
    name="R14MntStruct">
		<xsd:sequence>
			<xsd:element
        name="A_NoAbriFiscal">
				
				<xsd:simpleType>
					<xsd:restriction
            base="xsd:string">
						<xsd:pattern
              value="QAF-\d{2}-\d{5}" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element
        name="B_NbPartsAcquises"
        type="Decimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C_CoutUnitaire"
        type="Decimal9Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="D_DepenseAbriFiscal"
        type="Decimal9Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="E_RecoursLimite"
        type="Decimal9Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="F_RajustementRisque"
        type="Decimal9Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="G_DepenseAbriFiscalRajuste"
        type="Decimal9Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="H_MontantAdmissibleDon"
        type="Decimal9Type"
        minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>