dags/digital_adoption_tax_statements/xsd/rl3_xmlschm_2025/R15.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- édité avec XMLSpy v2020 rel. 2 sp1 (x64) (http://www.altova.com) par Revenu Quebec (Revenu Quebec) -->
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by Revenu Quebec (Revenu Quebec) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Diane Roy (mrq) -->
<xsd:schema
  targetNamespace="http://www.mrq.gouv.qc.ca/T5"
  elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.mrq.gouv.qc.ca/T5">
	<xsd:include
    schemaLocation="Complexe.xsd" />
	<xsd:include
    schemaLocation="SimpleEvolutif.xsd" />
	<!-- @@@@ Definition du R15 @@@@           -->
	<xsd:complexType
    name="R15Struct">
		<xsd:sequence>
			<xsd:element
        name="Annee"
        type="AnImpositionType">
				
			</xsd:element>
			<xsd:element
        name="NoReleve"
        type="NoReleveType">
				
			</xsd:element>
			<xsd:element
        name="Associe">
				
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
              name="Genre"
              type="Indicateur1-3-4Type">
							
						</xsd:element>
						<xsd:choice>
							<xsd:element
                name="Personne">
								
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element
                      name="NAS"
                      type="NasType">
											
										</xsd:element>
										<xsd:element
                      name="NomFamille"
                      type="Char30Type">
											
										</xsd:element>
										<xsd:element
                      name="Prenom"
                      type="Char30Type">
											
										</xsd:element>
										<xsd:element
                      name="Initiale"
                      type="Char1Type"
                      minOccurs="0">
											
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element
                name="RaisonSociale">
								
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element
                      name="AutreNoId"
                      type="Char16Type"
                      minOccurs="0">
											
										</xsd:element>
										<xsd:element
                      name="Nom1"
                      type="Char30Type">
											
										</xsd:element>
										<xsd:element
                      name="Nom2"
                      type="Char30Type"
                      minOccurs="0">
											
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:choice>
						<xsd:element
              name="Adresse"
              type="Adresse2Struct"
              minOccurs="0" />
						<xsd:element
              name="NoReference"
              type="Char20Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="NoCompteFiducieFederal"
              minOccurs="0">
							
							<xsd:simpleType>
								<xsd:restriction
                  base="xsd:string">
									<xsd:pattern
                    value="[A-Za-z]\d{8}" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
        name="Montants"
        type="R15MntStruct">
				
			</xsd:element>
			<xsd:element
        name="CaseRensCompl"
        minOccurs="0"
        maxOccurs="28">
				
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
              name="CodeRensCompl">
							
							<xsd:simpleType>
								<xsd:restriction
                  base="Char5Type">
									<xsd:pattern
                    value="1\-[1-8]|1\-1[0-2]|2\-[1-5]|3\-[1-4]|4\-[1-5]|5\-[1-2]|6\-[1-3]|7\-[1-2]|8\-[1-5]|9\-[1-2]|10\-[1-4]|11\-[13-48]|12\-[1-9]|12\-1[7]|13\-[1-9]|14\-[1-7]|15[aA]\-[1-5]|17\-[1-5]|18\-[1-5]|19\-3|28\-[1-2]|29\-[1-2]|30\-1|44\-1|60\-[1-2]|61\-[1-2]|71\-5|201|202" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element
              name="DonneeRensCompl">
							
							<xsd:simpleType>
								<xsd:restriction
                  base="xsd:string">
									<xsd:minLength
                    value="1" />
									<xsd:maxLength
                    value="30" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType
    name="R15MntStruct">
		<xsd:sequence>
			<xsd:element
        name="C1_RevenuNetCdnEtranger"
        type="SignedDecimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C2_RevenuNetEtranger"
        type="SignedDecimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C3_RevenuNetLocationCdnEtranger"
        type="SignedDecimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C4_RevenuNetLocationEtranger"
        type="SignedDecimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C5_Amortissement"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C6A_DividendeDetermine"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C6B_DividendeOrdinaire"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C7_InteretAutreRevenuCdn"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C8_RevenuPlacementEtranger"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C9_RistourneCoop"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C10_GainCapitalDeduction"
        type="SignedDecimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C11_ProvisionAllienation"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C12_GainCapitalNonDeduction"
        type="SignedDecimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C13_PertePlacement"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C14_RevenuBrut"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C15A_FraisFinancierInteret"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C15B_PaiementCompensatoire"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C16_ImpotQueRetenuSource"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C17_ImpotEtrangerRevenuNonEntr"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C18_ImpotEtrangerRevenuEntr"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C19_DonBienfaisance"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C20_AutreDon"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C21A_CreditImpotBiensAmort"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C21B_CreditImpotAutreBiens"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="CapitalVerse"
        minOccurs="0">
				
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
              name="C24A_PartDette"
              type="Decimal13Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="C24B_PartBiensAdmis"
              type="Decimal13Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="C24C_PartActifTotal"
              type="Decimal13Type"
              minOccurs="0">
							
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
        name="C26_FractionRisque"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C27_PerteMembreRespLimite"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C28_ExploCdn"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C29_MiseEnValeurCdn"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C30_BiensPetroleGaz"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C31_ExploMiseEnValeurEtranger"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C32_ExploQue"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C33_ExploMinePetroleGazQue"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C34_ExploNordQue"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C35_AideCase28"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C35_AideCase29"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C35_AideCase30"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C35_AideCase32"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C35_AideCase33"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C35_AideCase34"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C36_PourcentPart"
        type="Taux9_6Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C37_NbUniteAssocie"
        type="Decimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C38_GenreActivite"
        minOccurs="0">
				
				<xsd:simpleType>
					<xsd:restriction
            base="xsd:string">
						<xsd:enumeration
              value="22" />
						<xsd:enumeration
              value="23" />
						<xsd:enumeration
              value="24" />
						<xsd:enumeration
              value="25" />
						<xsd:enumeration
              value="26" />
						<xsd:enumeration
              value="136" />
						<xsd:enumeration
              value="154" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element
        name="C39_GenreSociete"
        type="Indicateur0-1Type">
				
			</xsd:element>
			<xsd:element
        name="C40_GenreAssocie"
        type="Indicateur0-5Type">
				
			</xsd:element>
			<xsd:element
        name="C41_GenreContribuable"
        type="Indicateur1-3-4Type">
				
			</xsd:element>
			<xsd:element
        name="C42_PourcentAffaireQue"
        type="Taux9_6Type">
				
			</xsd:element>
			<xsd:element
        name="C43_RemboursementCapital"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C44_CreditImpotDividende"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C45_GainCapitalBiensRessources"
        type="Decimal13Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="AbriFiscal"
        minOccurs="0">
				
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
              name="NoIdAbri"
              minOccurs="0">
							
							<xsd:simpleType>
								<xsd:restriction
                  base="xsd:string">
									<xsd:pattern
                    value="QAF-\d{2}-\d{5}" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element
              name="CodeActivite"
              type="Indicateur01-16Type">
							
						</xsd:element>
						<xsd:element
              name="C50_NbUniteAcquise"
              type="Decimal12Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="C51_CoutUnitaire"
              type="Decimal13Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="C52_CoutTotal"
              type="Decimal13Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="C53_RecoursLimite"
              type="Decimal13Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="C54_RajustementRisque"
              type="Decimal13Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="C55_AutreReduction"
              type="Decimal13Type"
              minOccurs="0">
							
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
        name="ActionsAccreditives"
        minOccurs="0">
				
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
              name="C60_ExploCdn"
              type="Decimal13Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="C61_MiseEnValeurCdn"
              type="Decimal13Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="C62_ExploQue"
              type="Decimal13Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="C63_ExploMinePetroleGazQue"
              type="Decimal13Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="C64_ExploNordQue"
              type="Decimal13Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="C65_EmissionAction"
              type="Decimal13Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="C66_AideCase60"
              type="Decimal13Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="C66_AideCase61"
              type="Decimal13Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="C66_AideCase62"
              type="Decimal13Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="C66_AideCase63"
              type="Decimal13Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="C66_AideCase64"
              type="Decimal13Type"
              minOccurs="0">
							
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
        name="CreditImpot"
        minOccurs="0">
				
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
              name="C70_CodeCredit"
              minOccurs="0">
							
							<xsd:simpleType>
								<xsd:restriction
                  base="xsd:string">
									<xsd:pattern
                    value="0[1-3]" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element
              name="C71_MontantAdmi"
              type="Decimal13Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="C72_CodeRegion"
              minOccurs="0">
							
							<xsd:simpleType>
								<xsd:restriction
                  base="xsd:string">
									<xsd:pattern
                    value="(0[1-9])|(1[0-7])|(5[0-3])" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element
              name="C73_CodeFrais"
              minOccurs="0">
							
							<xsd:simpleType>
								<xsd:restriction
                  base="xsd:string">
									<xsd:enumeration
                    value="A.1" />
									<xsd:enumeration
                    value="A11" />
									<xsd:enumeration
                    value="A.2" />
									<xsd:enumeration
                    value="A21" />
									<xsd:enumeration
                    value="A.3" />
									<xsd:enumeration
                    value="A.4" />
									<xsd:enumeration
                    value="B.1" />
									<xsd:enumeration
                    value="B11" />
									<xsd:enumeration
                    value="B.2" />
									<xsd:enumeration
                    value="B21" />
									<xsd:enumeration
                    value="B.3" />
									<xsd:enumeration
                    value="B.4" />
									<xsd:enumeration
                    value="C" />
									<xsd:enumeration
                    value="C.1" />
									<xsd:enumeration
                    value="D" />
									<xsd:enumeration
                    value="D.1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element
              name="C74_PourcentPart"
              type="Taux7_4Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="C75_DateAcquisition"
              type="DateType"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="C76_DateUtilisation"
              type="DateType"
              minOccurs="0">
							
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>