dags/digital_adoption_tax_statements/xsd/rl3_xmlschm_2025/R16.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- édité avec XMLSpy v2020 rel. 2 sp1 (x64) (http://www.altova.com) par Revenu Quebec (Revenu Quebec) -->
<!-- edited with XMLSpy v2016 rel. 2 sp1 (http://www.altova.com) by Revenu Quebec (Revenu Quebec) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Diane Roy (mrq) -->
<xsd:schema
  targetNamespace="http://www.mrq.gouv.qc.ca/T5"
  elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.mrq.gouv.qc.ca/T5">
	<xsd:include
    schemaLocation="Complexe.xsd" />
	<xsd:include
    schemaLocation="SimpleEvolutif.xsd" />
	<!-- @@@@ Definition du R16 @@@@           -->
	<xsd:complexType
    name="R16Struct">
		<xsd:sequence>
			<xsd:element
        name="Annee"
        type="AnImpositionType">
				
			</xsd:element>
			<xsd:element
        name="NoReleve"
        type="NoReleveType">
				
			</xsd:element>
			<xsd:element
        name="Consolide">
				
				<xsd:simpleType>
					<xsd:restriction
            base="xsd:string">
						<xsd:enumeration
              value="C" />
						<xsd:enumeration
              value="c" />
						<xsd:enumeration
              value="U" />
						<xsd:enumeration
              value="u" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element
        name="Fiducie">
				
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
              name="NoIdFiducieProvincial"
              type="Numeric10Type">
							
						</xsd:element>
						<xsd:element
              name="NoCompteFiducieFederal"
              minOccurs="0">
							
							<xsd:simpleType>
								<xsd:restriction
                  base="xsd:string">
									<xsd:pattern
                    value="[A-Za-z]\d{8}" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element
              name="Nom"
              type="Char60Type">
							
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
        name="Beneficiaire">
				
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
              name="Type"
              type="Indicateur1-7Type">
							
						</xsd:element>
						<xsd:element
              name="No"
              type="Char20Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:choice>
							<xsd:element
                name="Personne">
								
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element
                      name="NAS"
                      type="NasType">
											
										</xsd:element>
										<xsd:element
                      name="NomFamille"
                      type="Char30Type">
											
										</xsd:element>
										<xsd:element
                      name="Prenom"
                      type="Char30Type">
											
										</xsd:element>
										<xsd:element
                      name="Initiale"
                      type="Char1Type"
                      minOccurs="0">
											
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element
                name="RaisonSociale">
								
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element
                      name="AutreNoId"
                      type="Char10Type"
                      minOccurs="0">
											
										</xsd:element>
										<xsd:element
                      name="Nom1"
                      type="Char30Type">
											
										</xsd:element>
										<xsd:element
                      name="Nom2"
                      type="Char30Type"
                      minOccurs="0">
											
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:choice>
						<xsd:element
              name="Adresse"
              type="Adresse2Struct"
              minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
        name="SecondTitulaire"
        minOccurs="0">
				
				<xsd:complexType>
					<xsd:choice>
						<xsd:element
              name="Personne">
							
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element
                    name="NAS"
                    type="NasType">
										
									</xsd:element>
									<xsd:element
                    name="NomFamille"
                    type="Char30Type">
										
									</xsd:element>
									<xsd:element
                    name="Prenom"
                    type="Char30Type">
										
									</xsd:element>
									<xsd:element
                    name="Initiale"
                    type="Char1Type"
                    minOccurs="0">
										
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element
              name="RaisonSociale">
							
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element
                    name="AutreNoId"
                    type="Char10Type"
                    minOccurs="0">
										
									</xsd:element>
									<xsd:element
                    name="Nom1"
                    type="Char30Type">
										
									</xsd:element>
									<xsd:element
                    name="Nom2"
                    type="Char30Type"
                    minOccurs="0">
										
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
        name="Montants"
        type="R16MntStruct">
				
			</xsd:element>
			<xsd:element
        name="CaseRensCompl"
        minOccurs="0"
        maxOccurs="4">
				
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
              name="CodeRensCompl">
							
							<xsd:simpleType>
								<xsd:restriction
                  base="Char5Type">
									<xsd:pattern
                    value="[Aa]\-[1-4]|[Bb]\-1|[Dd]\-1|[Ee]\-1|[Ff]\-1|[Gg]\-1|[Gg]\-[3-9]|[Gg]\-10|[Hh]\-([1-3]|7)|[Ii]\-1|[Jj]\-1|[Kk]\-1|[Ll]\-1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element
              name="DonneeRensCompl">
							
							<xsd:simpleType>
								<xsd:restriction
                  base="xsd:string">
									<xsd:minLength
                    value="1" />
									<xsd:maxLength
                    value="15" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType
    name="R16MntStruct">
		<xsd:sequence>
			<xsd:element
        name="A_GainCapital"
        type="SignedDecimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="B_PaiementUniqueRetraite"
        type="Decimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C1_DividendeDetermine"
        type="Decimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C2_DividendeOrdinaire"
        type="Decimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="D_RenteRetraiteCredit"
        type="Decimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="E_RevenuEtrangerEntr"
        type="Decimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="F_RevenuEtrangerPlacement"
        type="Decimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="G_AutreRevenu"
        type="SignedDecimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="H_GainCapitalDeduction"
        type="Decimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="I_DividendeImposable"
        type="Decimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="J_CreditImpotDividende"
        type="Decimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="K_ImpotEtrangerRevenuEntr"
        type="Decimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="L_ImpotEtrangerRevenuNonEntr"
        type="Decimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="M_RajustementPrixBase"
        type="SignedDecimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="N_Don"
        type="Decimal12Type"
        minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>