dags/digital_adoption_tax_statements/xsd/rl3_xmlschm_2025/R21.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by Revenu Quebec (Revenu Quebec) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Diane Roy (mrq) -->
<xsd:schema
  targetNamespace="http://www.mrq.gouv.qc.ca/T5"
  elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.mrq.gouv.qc.ca/T5">
	<xsd:include
    schemaLocation="Complexe.xsd" />
	<xsd:include
    schemaLocation="SimpleEvolutif.xsd" />
	<!-- @@@@ Definition du R21 @@@@           -->
	<xsd:complexType
    name="R21Struct">
		<xsd:sequence>
			<xsd:element
        name="Annee"
        type="AnImpositionType">
				
			</xsd:element>
			<xsd:element
        name="NoReleve"
        type="NoReleveType">
				
			</xsd:element>
			<xsd:element
        name="Beneficiaire">
				
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
              name="No"
              type="Char20Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:choice>
							<xsd:element
                name="Personne">
								
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element
                      name="NAS"
                      type="NasType">
											
										</xsd:element>
										<xsd:element
                      name="NomFamille"
                      type="Char30Type">
											
										</xsd:element>
										<xsd:element
                      name="Prenom"
                      type="Char30Type">
											
										</xsd:element>
										<xsd:element
                      name="Initiale"
                      type="Char1Type"
                      minOccurs="0">
											
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element
                name="RaisonSociale">
								
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element
                      name="NEQ"
                      type="Numeric10Type"
                      minOccurs="0">
											
										</xsd:element>
										<xsd:element
                      name="AutreNoId"
                      type="Char16Type"
                      minOccurs="0">
											
										</xsd:element>
										<xsd:element
                      name="Nom1"
                      type="Char30Type">
											
										</xsd:element>
										<xsd:element
                      name="Nom2"
                      type="Char30Type"
                      minOccurs="0">
											
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:choice>
						<xsd:element
              name="Adresse"
              type="Adresse2Struct"
              minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
        name="Montants"
        type="R21MntStruct" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType
    name="R21MntStruct">
		<xsd:sequence>
			<xsd:element
        name="A_RevenuSubvention"
        type="SignedDecimal9Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="B_GainReglementDette"
        type="Decimal9Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C1_IndemniteAssurance"
        type="Decimal10Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C2_RembPaiementTrop"
        type="Decimal9Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="D_RevenuPlacement"
        type="SignedDecimal9Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="Programme"
        minOccurs="0"
        maxOccurs="15">
				
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
              name="Nom"
              type="Char30Type">
							
						</xsd:element>
						<xsd:element
              name="Montant"
              type="SignedDecimal9Type">
							
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>