dags/digital_adoption_tax_statements/xsd/rl3_xmlschm_2025/R25.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- édité avec XMLSpy v2020 rel. 2 sp1 (x64) (http://www.altova.com) par Revenu Quebec (Revenu Quebec) -->
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Revenu Quebec (Revenu Quebec) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Diane Roy (mrq) -->
<xsd:schema
  targetNamespace="http://www.mrq.gouv.qc.ca/T5"
  elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.mrq.gouv.qc.ca/T5">
	<xsd:include
    schemaLocation="Complexe.xsd" />
	<xsd:include
    schemaLocation="SimpleEvolutif.xsd" />
	<!-- @@@@ Definition du R25 @@@@           -->
	<xsd:complexType
    name="R25Struct">
		<xsd:sequence>
			<xsd:element
        name="Annee"
        type="AnImpositionType">
				
			</xsd:element>
			<xsd:element
        name="NoReleve"
        type="NoReleveType">
				
			</xsd:element>
			<xsd:element
        name="Beneficiaire">
				
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
              name="No"
              type="Char20Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="NomRegime"
              type="Char30Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="Personne">
							
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element
                    name="NAS"
                    type="NasType">
										
									</xsd:element>
									<xsd:element
                    name="NomFamille"
                    type="Char30Type">
										
									</xsd:element>
									<xsd:element
                    name="Prenom"
                    type="Char30Type">
										
									</xsd:element>
									<xsd:element
                    name="Initiale"
                    type="Char1Type"
                    minOccurs="0">
										
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element
              name="Adresse"
              type="Adresse2Struct" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
        name="Montants"
        type="R25MntStruct">
				
			</xsd:element>
			<xsd:element
        name="CaseRensCompl"
        minOccurs="0"
        maxOccurs="4">
				
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
              name="CodeRensCompl">
							
							<xsd:simpleType>
								<xsd:restriction
                  base="Char5Type">
									<xsd:pattern
                    value="[Bb]\-1|[Cc]\-[1-2]|[Dd]\-[1-3]" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element
              name="DonneeRensCompl">
							
							<xsd:simpleType>
								<xsd:restriction
                  base="xsd:string">
									<xsd:minLength
                    value="1" />
									<xsd:maxLength
                    value="15" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType
    name="R25MntStruct">
		<xsd:sequence>
			<xsd:element
        name="A1_DividendeDetermine"
        type="Decimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="A2_DividendeOrdinaire"
        type="Decimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="B_GainCapital"
        type="SignedDecimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="C_GainCapitalExemption"
        type="SignedDecimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="D_AutreAttribution"
        type="Decimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="E_AttributionAnnulee"
        type="Decimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="F_DividendeImposable"
        type="Decimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="G_CreditImpotDividende"
        type="Decimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="H_ImpotEtrangerRevenuNonEntr"
        type="Decimal12Type"
        minOccurs="0">
				
			</xsd:element>
			<xsd:element
        name="I_ImpotQueRetenuSource"
        type="Decimal12Type"
        minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>