dags/digital_adoption_tax_statements/xsd/rl3_xmlschm_2025/T32.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- édité avec XMLSpy v2020 rel. 2 sp1 (x64) (http://www.altova.com) par Revenu Quebec (Revenu Quebec) -->
<xsd:schema
  targetNamespace="http://www.mrq.gouv.qc.ca/T5"
  elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.mrq.gouv.qc.ca/T5">
	<xsd:include
    schemaLocation="Complexe.xsd" />
	<xsd:include
    schemaLocation="SimpleEvolutif.xsd" />
	<!-- @@@@ Definition du T32         @@@@           -->
	<xsd:complexType
    name="T32Struct">
		<xsd:sequence>
			<xsd:element
        name="Annee"
        type="AnImpositionType">
				
			</xsd:element>
			<xsd:element
        name="NbReleves"
        type="Int9Type">
				
			</xsd:element>
			<xsd:element
        name="Emetteur">
				
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
              name="NoId"
              type="NoIdentificationType">
							
						</xsd:element>
						<xsd:element
              name="TypeDossier"
              type="xsd:string"
              fixed="RS">
							
						</xsd:element>
						<xsd:element
              name="NoDossier"
              type="NoDossierType">
							
						</xsd:element>
						<xsd:element
              name="NEQ"
              type="Numeric10Type"
              minOccurs="0">
							
						</xsd:element>
						<xsd:element
              name="Nom"
              type="Char60Type">
							
						</xsd:element>
						<xsd:element
              name="Adresse"
              type="Adresse2Struct" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>